POSTGRES_USER=chainmind
POSTGRES_PASSWORD=chainmind_dev
POSTGRES_DB=chainmind
POSTGRES_PORT=5432
NEO4J_USER=neo4j
NEO4J_PASSWORD=chainmind_dev
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
BACKEND_PORT=8000
ETH_RPC_URL=https://ethereum.publicnode.com
BASE_RPC_URL=https://mainnet.base.org
RPC_BASE_HTTP=https://mainnet.base.org
SQD_GATEWAY=https://v2.archive.subsquid.io/network/ethereum-mainnet
ANTHROPIC_API_KEY=
ETHERSCAN_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_RISK_THRESHOLD=70
CHAINMIND_SLITHER=0
